<div class="col-lg-5 text-center">
    <select class="form-control" id="statename" #state (change)="updatedState(state.value)">
        <option *ngFor="let state of states" [value]="state" >{{ state }}</option>
    </select>
</div>

<!-- <table class="table table-bordered table-hover table-dark">
    <thead>
        <th>Sno.</th>
        <th>State</th>
        <th>Confirmed</th>
        <th>Recovered</th>
        <th>Deceased</th>
        <th>Active</th>
    </thead>
    <tbody>
        <tr *ngFor="let state of stateData; index as i">
            <td>{{i+1}}</td>
            <td>{{state.districtName}}</td>
            <td>{{state.confirmed}}</td>
            <td>{{state.recovered}}</td>
            <td>{{state.deceased}}</td>
            <td>{{state.active}}</td>
        </tr>
    </tbody>
</table> -->

<ngx-charts-bar-vertical
  [view]="view"
  [results]="barChartData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
