/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* styles for home component */
.state-data-wrapper {
    padding: 30px;
    .card-charts {
        padding: 10px 10px 10px 0;
        margin-top: 30px;
    }
    .form-check-inline {
        float: right;
        margin-right: 130px;
        padding: 30px;
    }
    .home-charts {
        float: right;
        margin-right: 50px;
        .pie-chart, .bar-chart {
            border: 1px solid #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            transition: all 0.3s;
            margin: 10px;
            display: grid;
            padding: 10px;
        }
        
    }
    .table {
        max-width: 1000px;
    }
}

/* styles for state component */
.district-data-wrapper {
    padding: 30px;
    h1 {
        display: inline-block;
        margin-left: 350px;
    }
    .state-select {
        max-width: 500px;
        float: right;
        padding: 15px;
    }
    .district-data {
        padding-top: 30px;
        .table {
            max-width: 1000px;
            float: right;
        }
        .district-charts {
            .advanced-pie-chart, .bar-chart {
                border: 1px solid #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                transition: all 0.3s;
                margin: 10px;
                display: grid;
                padding: 10px;
                width: fit-content;
            }
        }
    }
}