<div class="state-data-wrapper bg-white text-center">
    <h1>Statewise Data</h1>
    <div class="card-charts">
        <ngx-charts-number-card
            [scheme]="colorScheme"
            [view]="cardView"
            [results]="cardData"
            [cardColor]="cardColor">
        </ngx-charts-number-card>
    </div>
    <div class="charts">
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            Case Type :
          </label>
        <div class="form-check">
            <input class="form-check-input" #confirmed type="radio" name="flexRadioDefault" id="confirmed" value="confirmed" (click)="updateChartData(confirmed)" checked>
            <label class="form-check-label" for="confirmed">
              Confirmed
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" #recovered type="radio" name="flexRadioDefault" id="recovered" value="recovered" (click)="updateChartData(recovered)">
            <label class="form-check-label" for="recovered">
              Recovered
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" #deceased type="radio" name="flexRadioDefault" id="deceased" value="deaths" (click)="updateChartData(deceased)">
            <label class="form-check-label" for="deceased">
              Deceased
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" #active type="radio" name="flexRadioDefault" id="active" value="active" (click)="updateChartData(active)">
            <label class="form-check-label" for="active">
              Active
            </label>
          </div>
    </div>
        <div class="home-charts">
                    <ngx-charts-pie-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="confirmedChartData"
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [legendPosition]="legendPosition"
                        [labels]="showLabels"
                        [doughnut]="isDoughnut"
                        >
                    </ngx-charts-pie-chart>

                    <ngx-charts-bar-vertical
                        [view]="view"
                        [results]="confirmedChartData"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical>
        
    </div>
    </div>

<table class="table table-bordered table-hover table-dark">
    <thead>
        <th>Sno.</th>
        <th>State</th>
        <th>Confirmed</th>
        <th>Recovered</th>
        <th>Deceased</th>
        <th>Active</th>
    </thead>
    <tbody>
        <tr *ngFor="let state of statesData; index as i">
            <td>{{i+1}}</td>
            <td>{{state.state}}</td>
            <td>{{state.confirmed}}</td>
            <td>{{state.recovered}}</td>
            <td>{{state.deaths}}</td>
            <td>{{state.active}}</td>
        </tr>
    </tbody>
</table>
</div>